<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio de suma</title>

    <style>
         h1 {
             color: #e839ff; 
           }
         p {
             color: #40ec7a; 
           }




    </style>




</head>
<body>

<h1>
    Ejercicios resueltos de programación usando Django de la semana 9 al 12
</h1>
<br>
<h2>Ejercicios de la semana 9- PRIMER CASO</h2>

<h3>caso 1: SE REALIZARÁ LA SUMA DE LOS 10 PRIMEROS NÚMEROS</h3>
<p> Descripción: Con el ejercicio vamos a usar el uso del for y el manejo del Range </p>
<form method="post">
  {% csrf_token %}
  Name : <input type="text" name="name">
  <button type="submit">submit</button>
</form>


<h5> Resultado: {{suma}}</h5>


</body>
</html>