<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio de suma</title>

    <style>
         h1 {
             color: #e839ff; 
           }
         p {
             color: #40ec7a; 
           }




    </style>




</head>
<body>

<h1>
    Ejercicios resueltos de programación usando Django de la semana 9 al 12
</h1>
<br>
<h2>Ejercicios de la semana 9 y 10- tercer CASO</h2>

<h3>caso 3: Se realizará los 10 primeros múltiplos de un número determinado</h3>
<p> Descripción: Con el ejercicio vamos a usar el uso del for y listas </p>

<h5> Resultado: {{multiplicacion}}</h5>