<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio de suma</title>

    <style>
         h1 {
             color: #e839ff; 
           }
         p {
             color: #40ecec; 
           }




    </style>




</head>
<body>

<h1>
    Ejercicios resueltos de programación usando Django de la semana 9 al 12
</h1>
<br>
<h2>Ejercicios de la semana 9 y 10- PRIMER CASO</h2>

<h3>caso 1: Se realizará la lectura de una palabra, y se analizará la primera letra</h3>
<p> Descripción: Con el ejercicio vamos a usar el uso del len and for </p>




<h5> Resultado: {{lectura}}</h5>

</body>
</html>